MOONBASE_ALPHA_BLAST_RPC_URL="https://moonbase-alpha.public.blastapi.io"
MOONBASE_ALPHA_UNITEDBLOC_RPC_URL="https://moonbase.unitedbloc.com"
MOONBASE_API_ENDPOINT="https://api-moonbase.moonscan.io"
ETHERSCAN_API_KEY="YOUR_ETHERSCAN_API_KEY"
MOONSCAN_API_KEY="YOUR_MOONSCAN_API_KEY"
PRIVATE_KEY="YOUR_PRIVATE_KEY"
